.EventCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.EventCard a:hover{
    color: gray;
}

.EventCard-card {
    display: block;
    width: 100%;
    height: 169px;
    border-bottom: 1px solid #646cff;
    padding-left: 0;
    margin-bottom: .75rem;
    transition: transform 0.15s;
    overflow: hidden;
}

.EventCard-img-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 110px;
    gap: 1rem;
}

.EventCard-img-header-container h2{
    margin: 0 auto;
    font-weight: 700;
}

.EventCard-img-container {
    width: 140px;
    height: 140px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 45px;
    margin-top: 10px; 
}

.EventCard-event-image {
    height: 100%;
    width: auto;
    aspect-ratio: 4 / 3;
    border: solid #646cff 2px;
}

.EventCard-event-image:hover {
    transform: translateY(-5px);
}

.EventCard-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    min-width: 0;
    padding: 0 1rem;
}

.EventCard-event-name {
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    margin-bottom: 4px;
}

.EventCard-artists {
    margin-bottom: 4px;
    margin-left: 1px;
}

.EventCard-artists span {
  display: inline-flex;
  align-items: center;
}

.EventCard-artists button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 0;
    font-size: 16px;
    background: transparent;
    border: none;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1;
}

.EventCard-event-date {
    margin-bottom: -3px;
}

.EventCard-event-venue {
    margin-left: 2px;
}

.EventCard-event-buttons-container{
    margin-bottom: 10px;
}

.EventCard-userEvents-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
    width: 130px;
    height: 2.5rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    padding: 0 0.5rem;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.25s;
}

.EventCard-userEvents-button button:disabled {
    opacity: .5;
    cursor: not-allowed;
    position: relative;
}

.EventCard-userEvents-button button:hover{
    border-color: yellow;
}

.EventCard-event-url {
    margin-top: 1.4rem;
}

.EventCard-event-url button {
    display: inline-block;
    width: 130px;          
    height: 2.5rem;        
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    background-color: #646cff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    padding: 0 0.5rem;
  }

.EventCard-event-url:hover {
    border-color: rgb(255, 255, 255);
}

.date-icon {
    vertical-align: middle;
    margin-right: 8px;
    filter: brightness(0) invert(1);
    margin-bottom: 7px;
}

@media (max-width: 768px){
    @media (max-width: 768px) {

        .EventCard-img-container {
            width: 100px;
            height: 100px;
        }

        .EventCard-event-name {
            font-size: 16px;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            margin-bottom: 4px;
        }

        .EventCard-details {
          align-items: flex-start;
          padding: 0 .25rem;
          font-size: 12px;
        }
      
        .EventCard-event-buttons-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1rem;
        }
      
        .EventCard-userEvents-button button,
        .EventCard-event-url button {
            font-size: 10px;
          width: 100%;
          max-width: 75px;
          margin-bottom: 0.5rem;
        }
      }
}

@media (max-width: 480px){

}