.EventList {
    padding: .75rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.EventList-events-container {
    display: block;
    gap: 2rem;
    margin-top: 2rem;
}

.loading, .error {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
}

.error {
    color: #dc3545;
}