.NavBar {
    border-bottom: 2.5px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.navbar-brand {
    margin-left: 15px;
    color: white;
}

.navbar-right-section {
    display: flex;
    align-items: center;
}

.Navbar-theme-button {
    background-color: black;
    padding: .3rem .3rem;
    margin-right: 0.2rem;
    z-index: 1100;
    transition: all 0.3s ease;
}

.FaMoon, .FaSun, .FaDisplayToggle {
    height: 100%;
    margin-right: 2px;
}

.FaMoon, .FaSun {
    width: 24px;
    margin-right: 4px;
}

.FaMoon {
    fill: black;
    background-color: #646cff;
}

.FaDisplayToggle {
    width: 27px;
}

.nav-item {
    margin-left: 7px;
}

.nav-item a {
    color: white;
    font-size: 16px;
}

.nav-item a:hover {
    color: #646cff;
}

/* Mobile Styles */
@media (max-width: 880px) {
    .NavBar {
        height: auto;
        min-height: 55px;
        flex-wrap: wrap;
    }

    .navbar-right-section {
        margin-left: auto;
    }

    .Navbar-theme-button {
        position: relative;
        padding: 3.3px 8px;
    }

    .FaMoon, .FaSun {
        width: 21px;
        margin-right: 2px;
    }

    .FaDisplayToggle {
        width: 25px;
        margin-right: 1px;
    }

    .collapse {
        order: 3;
    }

    .navbar-collapse {
        z-index: 1000;
    }

    .navbar-collapse.show {
        background-color: black;
        padding: 0;
        margin: 5px 0 0 3px;
        transition: all 0.2s ease;
    }

    .navbar-collapse.show .nav-item a {
        font-size: 14px;
        padding: .25rem 0;
        display: block;
    }

    .NavBar.menu-open .Navbar-theme-button {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-right: 1rem;
        transform: scale(1.1);
    }

    .NavBar.menu-open .FaMoon,
    .NavBar.menu-open .FaSun,
    .NavBar.menu-open .FaDisplayToggle {
        margin: 0;
    }

    .navbar-toggler {
        margin-left: 0;
        padding: .25rem .5rem;
    }

    .nav-item a {
        font-size: 14px;
    }
}