.NavBar {
    border-bottom: 2.5px solid rgb(255, 255, 255, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 0, 0);
    padding: 0rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* height: 55px; */
    min-height: 55px;
}

.navbar-brand {
    margin-left: 15px;
    color: white;
    margin: 0;
}

.navbar-right-section {
    display: flex;
    align-items: center;
}

.Navbar-theme-button {
    background-color: black;
    padding: .3rem .3rem;
    margin-right: 0.2rem;
    z-index: 1100;
    transition: all 0.3s ease;
}

.FaMoon, .FaSun, .FaDisplayToggle {
    height: 100%;
}

.FaMoon, .FaSun {
    width: 24px;
    margin-right: 4px;
}

.FaMoon {
    fill: black;
    background-color: #646cff;
}

.FaDisplayToggle {
    width: 27px;
}

.nav-item {
    margin-left: 5px;
}

.nav-item a {
    color: white;
    font-size: 16px;
}

.nav-item a:hover {
    color: #646cff;
}

@media (max-width: 880px) {
    .NavBar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }

    #NavBar-echo-logo svg {
        height: 32px;
        width: auto;
        display: block;
      }

    .navbar-brand {
        margin-left: 0.5rem;
        order: 1;
    }

    .navbar-right-section {
        margin-left: auto;
        display: flex;
        align-items: center;
        order: 2;
    }

    .Navbar-theme-button {
        position: relative;
        padding: 3.3px 8px;
    }

    .FaMoon, .FaSun {
        width: 21px;
        margin-right: 2px;
    }

    .FaDisplayToggle {
        width: 25px;
    }

    /* .collapse {
        order: 3;
        width: 100%;
    } */

    .navbar-collapse {
        z-index: 1000;
    }

    .navbar-collapse.show {
        display: block;
        background-color: black;
        margin: 5px 0 0 3px;
        transition: all 0.2s ease;
    }

    .navbar-collapse.show .nav-item a {
        font-size: 14px;
        padding: .25rem 0;
        display: block;
    }

    .NavBar.menu-open .Navbar-theme-button {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-right: 1rem;
        transform: scale(1.1);
    }

    .NavBar.menu-open .FaMoon,
    .NavBar.menu-open .FaSun,
    .NavBar.menu-open .FaDisplayToggle {
        margin: 0;
    }

    .navbar-toggler {
        margin-left: 0;
        padding: .25rem .5rem;
        display: flex;
        justify-content: center;
    }

    .navbar-toggler-icon {
        height: 18px;
        width: 18px;
    }

    .nav-item a {
        font-size: 14px;
    }
}